:root {
  --black: #4D4C59;
  --purple: #6C63FF;
  --light-grey: #C8C8C8;
  --text-color: #9C9AB6;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px){

  #middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
  }
  
  div#conteiner1 {
    text-align: center;
    margin-top: 7em;
  }
  
  section#countdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  #countdown {
    margin-top: 2em;
  }
  
  #countdown > div p {
    font-size: 3em;
    color: var(--black);
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
  }
  
  #countdown > div {
    text-align: center;
  }
  
  #img-2 {
      
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }
  
  #img-1 {
    width: 100%;
    object-fit: cover;
  }
  
  button {
    background-color: var(--purple);
    padding: 13px 40px 13px 40px;
    border: none;
    border-radius: 13px;
    color: white;
    font-size: 14px;
    margin-top: 28px;
  }
  
  h1 {
    color: var(--purple);
    font-size: 1.8em;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
  }
  
  span {
    color: var(--light-grey);
  }
  
  h3 {
    color: var(--light-grey);
    margin: 10px;
  }
  

}

@media screen and (min-width: 1200px){
  
  #middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
  }
  
  div#conteiner1 {
    text-align: center;
  }
  
  section#countdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #countdown {
    margin-top: 2em;
  }
  
  #countdown > div p {
    font-size: 3em;
    color: var(--black);
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
  }
  
  #countdown > div {
    text-align: center;
  }
  
  #img-2 {
      
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }
  
  #img-1 {
    /* display: inline-block; */
    width: 100%;
    object-fit: cover;
  }
  
  button {
    background-color: var(--purple);
    padding: 13px 40px 13px 40px;
    border: none;
    border-radius: 13px;
    color: white;
    font-size: 14px;
    margin-top: 28px;
  }
  
  h1 {
    color: var(--purple);
    font-size: 2.5em;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
  }
  
  span {
    color: var(--light-grey);
  }
  
  h3 {
    color: var(--light-grey);
    margin: 0;
  }
  
  
};

